body{
	background-color:white;
}
#title{
    width: 100%;
    height: 10%;
    position: absolute;  /*绝对定位*/
    top:0;
    left:0;

    /*弹性布局*/
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
    font-size: 40px;
}
#title .time{
    position: absolute;
    right: 20px;
    top:5px;
    font-size: 20px;
    color: black;
}
#title .link01{
    position: absolute;
    left: 220px;
    top:5px;
    font-size: 20px;
    color:red;
    text-decoration:none;
}
#title .link02{
    position: absolute;
    left: 20px;
    top:5px;
    font-size: 20px;
    color: blue;
    text-decoration:none;
}
#title .author{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 18px;
    color: blueviolet;
}
#left1{
    width: 50%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 10%;
}
#left2{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 10%;
    right: 0;
}

/*
此处是设置自动匹配横屏，以适应手机显示 容器使用下面定义的 id: gyroContain
*/
@media screen and (orientation: portrait) {
    html{
        width : 100vmin;
        height : 100vmax;  /*高度比宽度大*/
    }
    body{
        width : 100vmin;
        height : 100vmax;
    }
    #gyroContain{
        width : 100vmax;
        height : 100vmin;
        transform-origin: top left;
        transform: rotate(90deg) translate(0,-100vmin);
    }
  }
@media screen and (orientation: landscape) {
    html{
        width : 100vmax;
        height : 100vmin;
    }
    body{
        width : 100vmax;
        height : 100vmin;
    }
    #gyroContain{
        width : 100vmax;
        height : 100vmin;
    }
}

#gyroContain .link01{
    position: absolute;
    left: 20px;
    top:5px;
    font-size: 20px;
    color: blue;
    text-decoration:none;
}
