<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldMap</title>
    <script src="../static/js/echarts.min.js"></script>
     <script src="../static/js/world.js"></script>
	<script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/world01.css">
</head>
<body>
    <div id="title">
        <span class="time"></span>
        <a href="https://blog.csdn.net/weixin_45362837?spm=1010.2135.3001.5421" target="_blank"><span class="author"></span></a>
        世界疫情实时展示
        <a class="link02" href="http://127.0.0.1:9999/" target="_blank">中国疫情展示</a>
    </div>

    <div id="left1" ></div>
    <div id="left2" ></div>

<script src="../static/js/left1.js"/></script>
<script src="../static/js/left2.js"></script>
<script src="../static/js/controller2.js"></script>
</body>
</html>